* {
    margin: 0;
    padding: 0;
}

/* shared element */

/* header related  style */
.header {
    /* background-image: url('../resources/Banner\ Image.png'); */

    height: 600px;
    width: 1320px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    margin: auto;
    margin-top: 50px;
}

.banner {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    padding-top: 177px;
}

.banner-title {
    font-size: 32px;
    font-weight: 400;

}

.banner-content {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 16px;
}

.section {
    background: #FFF;
    text-align: center;
    margin-top: 120px;
    font-family: Inter;
}

.section-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding: 20px 0;
}

.section-content {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.section-description {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.section-image {
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 48px;
}

.welcome-section {

    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1320px;
    height: 600px;
    border-radius: 20px;
    margin-top: 120px;
}


.welcome-section-info {
    padding: 126px;
}

.welcome-section-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;

}

.welcome-section-description {
    margin-top: 24px;
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-right: 40px;
}

.welcome-section-image {
    width: 320px;
    height: 465px;
    padding-top: 80px;

}

.btn {
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 40px 20px;
    border: none;
    text-transform: uppercase;
    margin-top: 30px;
}


.information {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: auto;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
}

.information-content {
    color: #F00;
    padding-top: 100px;
    margin-top: 120px;
    text-transform: capitalize;
}

.information-data {
    color: #070211;

}

.btn-info {

    background: #F00;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    display: inline-flex;
    text-transform: uppercase;

}






.event-section{
    background: #FFF;
    width: 1300px;
    height: 600px;
    margin: auto;
    margin-top: 120px;
    padding-left: 140;
    display: flex;
    gap: 600px 100px;
    
}
.event-content{
    margin-top: 120px;
    align-items: center;
    text-align: left;
}

.event-titel{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;  

}
.event-info{
    margin-top: 16px;
    font-family: 'Merriweather', serif;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.event-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    width: 393px;
    margin-top: 22px;
    
}
.event-picture{
    width: 364px;
    height: 364px;
    border-radius: 463px;
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 30px;
}

.event-feature{
    margin-top: 50px;
    font-family: Inter;
}
.feature-year{
   padding-top: 60px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.feature-year-description{
    width: 276px;
    padding-right: 10px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 300;
    line-height: 32px; 
    margin-top: 16px;
}
.event-feature img{
    margin-top: 43px;
    width: 140px;
    height: 140px;
}
